.float-button{
    position: fixed;
    display: flex;
    border: none;
    outline: none;
    padding: 16px 20px;
    font-size: 3rem;
    color: #fff;
    background-color: #25d366;
    border-radius: 100px;
    bottom: 3rem;
    right: 3rem;
    z-index: 100;
}