.float-button{
    position: absolute;
    display: flex;
    border: none;
    outline: none;
    padding: 15px 20px;
    font-size: 3rem;
    background-color: #25d366;
    border-radius: 100%;
    bottom: 3rem;
    right: 3rem;

}
.float-button a{
    color: #fff;
}