/* Slider */

.slider-container{
    display: flex;
    max-width: 100%;
    margin: 2% 0;
    align-items: center;
    justify-content: center;
}
.slider{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    overflow: hidden;
}
.slider-controls{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding-bottom: 4px;
    font-size: 28px;
    color: #fff;
    background-color: rgba(rgba(0, 0, 0, 0.8));
    cursor: pointer;
}
.slider-controls-left,
.slider-controls-right{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 5%;
    width: 100%;
    max-width: 200px;
    height: 100%;
    background: linear-gradient(90deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
}
.slider-controls-right{
    justify-content: right;
    background: linear-gradient(-90deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
}
.slider-controls-right:hover{
    background: linear-gradient(-90deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
}
.slider-controls-left:hover{
    background: linear-gradient(90deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
}

.slider-content{
    width: 100%;
}
.slider-content img{
    width: 100%;
    object-fit: cover;
}